body {
    font-family: 'Urbanist', sans-serif;
}
:root {
  /* Absolute Colors */
  --color-white: #ffffff;
  --color-black: #000000;

  /* Purple Shades */
  --purple-60: #703bf7;
  --purple-65: #8254F8;
  --purple-70: #946CF9;
  --purple-75: #A685FA;
  --purple-90: #DBCEFD;
  --purple-95: #EDE7FE;
  --purple-97: #F4F0FE;
  --purple-99: #FBFAFF;

  /* White Shades */
  --white-90: #e4e4e7;
  --white-95: #f1f1f3;
  --white-97: #f7f7f8;
  --white-99: #fcfcfd;

  /* Grey Shades */
  --grey-08: #141414;
  --grey-10:#191919;
  --grey-15: #262626;
  --grey-20: #333333;
  --grey-30: #4c4c4c;
  --grey-40: #666666;
  --grey-50: #808080;
  --grey-60: #999999;
}

#button-1 {
  white-space: nowrap;
  display: inline-block;
  background-color: var(--grey-08);
  border: 2px solid var(--grey-15);
  border-radius: 10px;
  padding: 15px 20px;
  border: none;
  outline: none;
  font-size: 18px;
  color: var(--color-white);
  cursor: pointer;
}

#button-2 {
  white-space: nowrap;
  background-color: var(--purple-60);
  border-radius: 10px;
  padding: 15px 20px;
  border: none;
  outline: none;
  font-size: 18px;
  color: var(--color-white);
  cursor: pointer;
}

/* Large desktops */
@media (max-width: 1440px) {
  
}

/* Medium desktops / laptops */
@media (max-width: 1280px) {

}

/* Small laptops / tablets (landscape) */
@media (max-width: 1024px) {

}

/* Tablets (portrait) */
@media (max-width: 768px) {

}

/* Large phones */
@media (max-width: 600px) {

}

/* Medium phones */
@media (max-width: 480px) {

}

/* Small phones */
@media (max-width: 360px) {

}
